<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WarehouseContext" connectionString="Data Source=DIM-PC\DIMIPORFSQL;Initial Catalog=WarehouseManagement;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

